# Ignore everything
*

# Exclude the specific .py files (track these)
!app.py
!img2img_service.py
!shakespeare_rag.py
!txt2img_service.py

# Exclude the folder 'dstatic' and everything inside it
!static/
!static/**

# Optional: ignore .gitignore itself (but usually tracked)
!.gitignore
