# Ignore virtual environments
rag_env/
sd_env/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.*

# Database files
*.sqlite3

# Ignore RAG vector database folder
vector_index/

# Ignore specific text file
shakespeare.txt
